.content-fitness {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.divGetEjercicios,
.divGetEjerciciosEnded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 767px;
    background-color: white;
    border-radius: 12px;
}

.content-fitness h3 {
    font-size: 24px;
    text-align: center;
    margin: 10px 0 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    width: 90%;
}

.content-fitness .imgPhotoObj {
    max-width: 100px;
}

.content-fitness .divAddObj,
.content-fitness .divAddFood {
    max-width: 600px;
    justify-content: space-between;
    width: 100%;
}

.content-fitness .divContentObj {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 48px;
}

.content-fitness .divContentObj .nameObj {
    border-right: 1px solid #e8e8e8;
    padding-right: 20px;
    font-size: 16px;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
}

.main-content .content-fitness h1 {
    margin: 30px 0 0 0;
}

.nameInstructions {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nameInstructions .addButton {
    padding: 8px;
    margin: 0;
}

.main-content {
    height: 100%;
    position: relative;
    margin-top: 100px;
    margin-bottom: 25px;
}

.divGetEjerciciosEnded .addButton {
    display: none;
}

@media (max-width: 700px) {
    .nameInstructions {
        flex-direction: column;
    }

    .divPhotoObj {
        padding-left: 12px;
    }

    .content-fitness .divContentObj{
        padding-right: 12px;
    }
}