.divLoginForm,
.loginDiv {
  display: none;
}

.divLoginForm.active,
.loginDiv.active,
.divUser.active {
  display: flex;
}

.loginDiv.active {
  position: relative;
  right: 20px;
  z-index: 3;
}

.divLoginForm.active {
  position: absolute;
  right: 2px;
  top: 55px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 12px;
  border-radius: 12px;
}

.divLoginForm.active::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-bottom: 0 solid transparent;
  border-right: 0 solid transparent;
  top: -5px;
  right: 17px;
  background-color: white;
}

.divLoginForm.active h3 {
  text-align: center;
  color: black;
}

.divLoginForm.active .formLogin form,
.divLoginForm.active .formLogin {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.divLoginForm.active .formLogin .urlRegister {
  color: black;
  text-decoration: none;
  padding-left: 25px;
}

.divLoginForm.active .formLogin .urlRegister::after {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  background-image: url("../infoLogo.png");
  background-size: cover;
  background-repeat: no-repeat;
  left: 15px;
  bottom: 17px;
}

.header__logo {
  border-radius: 100%;
  width: 75px;
  height: auto;
  border: 2px solid white;
}

header {
  background-color: #e8e8e8;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 96px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.accordionMenu img,
.accordionMenu {
  width: 32px;
  height: 32px;
}

.header__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  left: 20px;
  position: relative;
}

.header {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 96px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.menu-content {
  opacity: 0;
  transition: all .5s ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  right: auto;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-content.active {
  width: 200px;
  height: calc(100% - 123px);
  background-color: black;
  position: fixed;
  top: 99px;
  left: 0;
  opacity: 1;
  padding: 12px;
  transition: all .5s ease-in-out;
  left: 0;
  right: 0;
}

.divLogout {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.divLogout button {
  display: none;
}

.divLogout button.active {
  display: block;
  border: 0;
  background-color: transparent;
  position: relative;
  color: #F3EEEA;
}

.divLogout button.active::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 13px;
  bottom: 0;
  left: -12px;
  right: 0;
  background-image: url("../logout.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.loginDiv.disabled {
  display: none;
}

.divGestionarTareas ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 10px;
  margin: 0;
  position: relative;
}

.divGestionarTareas ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 10px;
  margin: 0;
  position: relative;
}

.divGestionarTareas ul li,
.divGestionarTareas ul li a {
  display: flex;
  align-items: center;
  color: #F3EEEA;
}

.divGestionarTareas ul li:hover {
  cursor: pointer;
}

.divGestionarTareas ul li p {
  margin: 0;
  padding-left: 25px;
  margin-top: 3px;
}

.divGestionarTareas ul li::after {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  background-image: url("../white-point.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.divLoginForm.active .formLogin button {
  width: 35%;
  border: 1px solid black;
  padding: 12px;
  border-radius: 12px;
  background-color: #F3EEEA;
  color: black;
}

.form-error {
  margin: 0;
  font-size: 11px;
  margin-left: 2px;
  color: red;
}

.modal-wrapper {
  position: fixed;
}

.buttonsEjercicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 14px;
  padding: 12px;
}

.divAddEjercicios,
.divAddFoods {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  max-height: 265px;
}

html .opcionesDeComidas .divAddObj {
  width: 100%;
  max-width: 450px;
  justify-content: flex-start;
}

.imgUser {
  max-width: 50px;
}

.bienvenidoUser {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bienvenidoUser span{
    color: #F3EEEA;
}

.divUser.active {
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  right: 20px;
}

.divGestionarTareas ul .viewExercises {
  display: none;
}

.divGestionarTareas ul .viewExercises.active {
  display: flex;
}

.divCustom {
  padding: 15px;
}

.divForm {
  gap: 10px;
}

@media(max-width: 800px) {
  .bienvenidoUserPhoto {
    display: flex;
  }
}