.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
    font-size: 14px;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    padding: 30px;
}

.footer-section {
    flex: 1 1 250px;
    min-width: 200px;
}

.footer-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-section p,
.footer-section li,
.footer-section a {
    color: #ccc;
    margin: 5px 0;
    text-decoration: none;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section a:hover {
    color: #fff;
    text-decoration: underline;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #ccc;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #333;
    color: #777;
}

.main-content:has(.notFound) {
    flex: 1;
}

html:has(.notFound),
body:has(.notFound) {
    height: 100%;
    margin: 0;
}

.footer-section .list{
    display: flex;
    gap: 20px;
}