td {
  padding: 8px;
  font-size: 18px;
  text-align: center;
}

.css-1xtozoh-MuiTableRow-root .css-141kssz-MuiTableCell-root {
  font-size: 24px;
  text-align: center;
}

.exerciseTd img {
  max-width: 100px;
}

.inputsUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

.userTd .contentModal {
  width: 500px;
}

.inputsUser input {
  width: 100%;
}

.editUser::after {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  background-image: url("../punto.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: 8px;
  left: 48%;
}

.deleteUser,
.editUser,
.approvefoodButton,
.approveexerciseButton {
  text-indent: -9999px;
  position: relative;
}

.deleteUser::after {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  background-image: url("../delete.webp");
  background-size: cover;
  background-repeat: no-repeat;
  top: 8px;
  left: 48%;
}

.approveexerciseButton::after,
.approvefoodButton::after {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  background-image: url("../punto.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: 41%;
  left: 44%;
}

.foodTd img{
  max-width: 100px;
}

@media (max-width: 900px) {
  html .css-111x1iw-MuiContainer-root {
    justify-content: center;
    align-items: center;
  }

  html .css-1lhg08p {
    position: relative;
  }

  html .css-111x1iw-MuiContainer-root .MuiBox-root {
    width: 100%;
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  td {
    padding: 8px;
    font-size: 10px;
    text-align: center;
  }

  .css-1xtozoh-MuiTableRow-root .css-141kssz-MuiTableCell-root,
  .css-9fhal0-MuiTableCell-root {
    font-size: 12px;
    text-align: center;
  }

  .deleteUser::after,
  .editUser::after {
    top: 8px;
    left: 40%;
  }

  .approveexerciseButton::after,
  .approvefoodButton::after {
    width: 17px;
    height: 17px;
    top: 41%;
    left: 40%;
  }

  .exerciseTd img,
  .foodTd img {
    max-width: 50px;
  }

  .MuiContainer-root.MuiContainer-maxWidthXl.css-bc1kej {
    justify-content: center;
    align-items: center;
  }
}