.explicacionApp ul,
.objetivosApp ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  padding-left: 16px;
  width: 100%;
}

.description {
  width: 100%;
}

h3,
span,
div {
  color: black;
}

.divCalories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding: 24px;
}

.divCalories .nameInstructions,
.divCalories .dateCalories {
  font-size: 24px;
}

.divGetEjercicios.calories {
  margin-bottom: 40px;
}

.divAddObj,
.divAddFood {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 95%;
}

.divAddFood {
  width: 100%;
  padding: 0;
  justify-content: space-between;
}

.imgPhotoObj {
  max-height: 200px;
  width: auto;
}

.divContentObj .nameObj {
  text-transform: capitalize;
  font-size: 24px;
  font-family: sans-serif;
}

.divContentObj {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addButton {
  border: .8px solid #bbb;
  background-color: #fff;
  margin: 0 15px;
  border-radius: 16px;
  padding: 14px;
}

.addButton:hover {
  cursor: pointer;
}

.opcionesDeComidas .divContentObj {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.divPhotoObj img {
  max-width: 150px;
}

.divCalories {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 150px;
  justify-content: space-between;
  min-width: 175px;
}

.dateCalories {
  font-size: 0.85rem;
  color: #999;
}

.nameInstructionsCalories {
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}

.css-xsov46-MuiContainer-root {
  min-height: 500px;
}

@media (max-width: 480px) {
  .contentModal {
    width: auto;
  }

  .divContentObj .nameObj {
    font-size: 18px;
  }

  .nameInstructions {
    font-size: 12px;
    flex-direction: column;
    align-items: flex-start;
  }

  .nameInstructions .addButton {
    padding: 8px 16px 8px 16px;
  }

  .MuiGrid-root.MuiGrid-container.MuiGrid-direction-xs-row.MuiGrid-spacing-xs-3.css-177xvbk {
    justify-content: center;
  }
}