.explicacionApp ul,
.objetivosApp ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  padding-left: 16px;
  width: 100%;
}

.description {
  width: 100%;
}

.divAddObj,
.divAddFood {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 95%;
}

.divAddFood {
  width: 100%;
  padding: 0;
  justify-content: space-between;
}

.imgPhotoObj {
  max-height: 200px;
  width: auto;
}

.divContentObj .nameObj {
  text-transform: capitalize;
  font-size: 24px;
  font-family: sans-serif;
}

.divContentObj {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addButton {
  border: .8px solid #bbb;
  background-color: #fff;
  margin: 0 15px;
  border-radius: 16px;
  padding: 14px;
}

.addButton:hover {
  cursor: pointer;
}


.divPhotoObj img {
  max-width: 150px;
}

@media (max-width: 480px) {
  .contentModal {
    width: auto;
  }

  .divContentObj .nameObj {
    font-size: 18px;
  }

  .nameInstructions {
    font-size: 12px;
    flex-direction: column;
    align-items: flex-start;
  }

  .nameInstructions .addButton {
    padding: 8px 16px 8px 16px;
  }
}