html,
body,
main,
#root,
.main-content,
.app {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #F3EEEA;
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
h1,
h2,
h3,
li,
button,
div,
span,
li {
  font-family: sans-serif;
  color: black;
}

#root {
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 90%;
}